[Unit]
Description=Tor

[Container]
ContainerName=tor

Image=localhost/tor:latest

User=0

NoNewPrivileges=true

PublishPort=127.0.0.1:9050:9050/tcp

Volume=tor-data:/var/lib/tor:U

[Service]
Restart=always

[Install]
WantedBy=default.target
