[Unit]
Description=BloatFE

[Container]
ContainerName=bloat
Image=docker.io/wormt/bloat:latest
AutoUpdate=registry
PublishPort=8080:8080/tcp
Volume=/opt/bloat/compose/config:/etc/bloat:Z,ro
Volume=/opt/bloat/compose/static:/usr/local/share/bloat/static/custom:Z,ro

[Service]
Restart=always

[Install]
WantedBy=default.target
